<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cosmosautoscalesample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fae8edb8-d033-4d77-a867-8cc83a2f79b3/resourcegroups/bhazstack/providers/Microsoft.Web/sites/CosmosAutoScaleSample</ResourceId>
    <UserName>$CosmosAutoScaleSample</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://cosmosautoscalesample.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>